@model string

@{
    ViewBag.Title = "Yetkisiz Erişim";
    ViewBag.PageId = "AccessDenied";
    Layout = "~/Views/Shared/_LayoutNoNavigation.cshtml";
}

<div class="page-content">
    <div class="message">
        <a href="javascript:;" onclick="supportClickInit()" class="btn-Support-Destek">
            <i class="fa icon-support"></i>
            <span>Destek</span>
        </a>
        <h1>Yetkisiz Erişim</h1>
        <h3>Bu sayfaya erişim hakkınız bulunmamaktadır!</h3>
        @if (Model != null) { 
            <a class="redirect" href="@Model">kullanıcı değiştirmek için tıklayınız...</a>
        }
        else
        {
            <a class="redirect" href="/Account/Login">Giriş sayfasına dönmek için tıklayınız...</a>
        }
        <div class="date-time">
            @(!Serenity.Authorization.IsLoggedIn ? "" : (Serenity.Authorization.Username + " - "))@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")
        </div>
        <div class="clear"></div>
    </div>
</div>

@{Html.RenderPartial("~/Views/Shared/SupportScript.cshtml");}