{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\v11.0; Initial Catalog=Gimnet_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "deneme",
                    "Identifier": "Deneme",
                    "Module": "Deneme",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Deneme"
                },
                {
                    "Tablename": "tees",
                    "Identifier": "tees",
                    "Module": "dene",
                    "ConnectionKey": "Default",
                    "PermissionKey": "tees"
                },
                {
                    "Tablename": "Duyuru",
                    "Identifier": "Duyuru",
                    "Module": "Duyuru",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Default"
                },
                {
                    "Tablename": "Firma",
                    "Identifier": "Firma",
                    "Module": "Sertifika",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Default"
                },
                {
                    "Tablename": "HelalSertifika",
                    "Identifier": "HelalSertifika",
                    "Module": "Sertifika",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Default"
                },
                {
                    "Tablename": "Kategori",
                    "Identifier": "Kategori",
                    "Module": "Sertifika",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Default"
                },
                {
                    "Tablename": "SertifikaResimleri",
                    "Identifier": "SertifikaResim",
                    "Module": "Sertifika",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Default"
                },
                {
                    "Tablename": "HelalMarket",
                    "Identifier": "HelalMarket",
                    "Module": "HelalDunyaMarket",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Default"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "WebProjectFile": "..\\..\\..\\Gimnet\\Gimnet.Web\\Gimnet.Web.csproj",
    "ScriptProjectFile": "..\\..\\..\\Gimnet\\Gimnet.Script\\Gimnet.Script.csproj",
    "RootNamespace": "Gimnet",
    "BaseRowClasses": [],
    "RemoveForeignFields": []
}