
@{
    ViewBag.Title = Serenity.LocalText.Get("Db.HelalDunyaMarket.HelalMarket.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Gimnet.HelalDunyaMarket.HelalMarketGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>