
@{
    ViewBag.Title = Serenity.LocalText.Get("Db.Duyuru.Duyuru.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Gimnet.Duyuru.DuyuruGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>