<div class="s-DialogContent" id="HitapBulkProgressDialog">
    <style type="text/css" scoped>
        #HitapBulkProgressDialog .ui-progressbar {
            margin-top: 12px;
            position: relative;
            height: 26px;
            background-image: none;
            background-color: aliceblue;
        }

        #HitapBulkProgressDialog .progress-label {
            position: absolute;
            left: 45%;
            top: 4px;
            font-weight: bold;
            text-shadow: 1px 1px 0 #cef;
            color: #245;
            font-size: 14px;
        }
    </style>
    <div id="~_StatusText" class="status-text">

    </div>
    <div id="~_ProgressBar" class="progress-bar">
        <div id="~_ProgressLabel" class="progress-label"></div>
    </div>
</div>

